<div class="container mat-elevation-z4" matRipple (click)="showVisitBtn()">
  <header class="container__header"></header>
  <article class="container__content p-20">
    <div class="name">
      <mat-icon class="icon-label mr-10"
        [ngClass]="(visitIsVisible$ | async) ? 'activated' : ''">
        label_important
      </mat-icon>
      <h3>{{ categoria.nome }}</h3>
    </div>
    <mat-divider></mat-divider>
    <div class="description mt-10">
      {{ categoria.descricao }}
    </div>
  </article>
  <footer class="container__footer p-20 pt-0" *ngIf="visitIsVisible$ | async">
    <div class="content">
      <button mat-raised-button color="warn"
        [routerLink]="['categoria', categoria.categoriaId, shortName]">
        Ver categoria
      </button>
    </div>
  </footer>
</div>