<div class="container">
  <div class="container__header">
    Me chamo Felipe, atualmente sou estudante e trabalho com desenvolvimento de software. Segue abaixo uma breve apresentação sobre mim em pequenos cards.
  </div>

  <div class="container__content">
    <div class="columns first-column">
      <!-- FORMAÇÃO -->
      <app-apresentacao-grid-item
        title="Formação"
        description="Técnico em informática com ênfase no desenvolvimento de websites, formado no curso integrado juntamente com ensino médio, ano de 2018"
        bgImage="assets/apresentacao/backgrounds/formacao.jpg"
        >
      </app-apresentacao-grid-item>
      <!-- TRABALHO -->
      <app-apresentacao-grid-item
        title="Trabalho"
        description="Atualmente trabalhando na área de tecnologia da informação como desenvolvedor web full-stack de uma aplicação CRM, em Curitiba"
        bgImage="assets/apresentacao/backgrounds/trabalho.jpg"
        >
      </app-apresentacao-grid-item>
      <!-- EXPERIÊNCIA -->
      <app-apresentacao-grid-item
      title="Experiência"
      description="Desenvolvedor de sistemas web desde 2016, durante curso técnico. Cerca de 1 ano de estágio na área e desenvolvedor no regime de PJ desde março/2021"
      bgImage="assets/apresentacao/backgrounds/experiencia.jpg"
      >
      </app-apresentacao-grid-item>
    </div>
    <div class="columns second-column">
      <!-- ESTUDO -->
      <app-apresentacao-grid-item
        title="Estudo"
        description="Graduando em análise e desenvolvimento de sistemas, com previsão para conclusão do curso em dezembro de 2021"
        bgImage="assets/apresentacao/backgrounds/estudo.jpg"
        >
      </app-apresentacao-grid-item>
      <!-- HOBBY -->
      <app-apresentacao-grid-item
      title="Hobby"
      description="Jogar futebol (campo e jogos eletrônicos) e edição e montagem de fotos através da ferramenta Photoshop"
      bgImage="assets/apresentacao/backgrounds/esporte.jpg"
      >
      </app-apresentacao-grid-item>
    </div>
  </div>
</div>