.container {

    .grid-categorias {

        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: minmax(min-content, 1fr);
    }
}