<a mat-raised-button 
  [href]="socialNetwork.href" 
  target="_blank" 
  [title]="'Perfil do '+socialNetwork.name">
  <div class="social-network-btn-content">
    <span class="social-network-btn-content__icon">
      <!-- Icon Material -->
      <mat-icon 
        *ngIf="socialNetwork.iconType != null && socialNetwork.iconType == socialNetworkIconType.materialIcon; else imageIcon">
        {{ socialNetwork.icon }}
      </mat-icon>
    </span>
    <span class="social-network-btn-content__label">
      {{ socialNetwork.label }}
    </span>
  </div>
</a>

<ng-template #imageIcon>
  <img [src]="'./assets/icons/'+socialNetwork.icon" alt="social-media-icon">
</ng-template>