@import '../../styles/colors.scss';

.container {

    &__content {

        margin-top: 17.5px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }
}

.btn-expand-all {
    background: $menu-item-bg;
    color: #fff;
}

.action-buttons {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
}

.accordion-container .mat-expansion-panel-header-title,
.accordion-container .mat-expansion-panel-header-description {
    flex-basis: 0;
}

.accordion-container .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.accordion-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
}

@media only screen and (max-width: 500px) {

    mat-panel-description {
        display: none;
    }
}