a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    margin: 7.5px 0;
    color: #fff;

    & .social-network-btn-content {
        margin-top: auto;
        margin-bottom: auto;

        &__label {
            margin-left: 15px;
        }
    }
}

.icon img {
    width: 22.5px;
}