<div class="container">
  <div class="container__header">
    <app-base-header [title]="'Base de conhecimento'" [icon]="'feed'">
    </app-base-header>
    <mat-card class="mt-10 card-info">
      <mat-icon>info_outline</mat-icon>
      <div>
        <span>
          Esta base de conhecimento é mantida por Felipe Wesley Basso, construída ao longo do processo de aprendizado.
        </span>
        <span>
          O intuito desta seção é ajudar outros estudantes com os tópicos aqui apresentados.
        </span>
      </div>
    </mat-card>
  </div>
</div>