
.container {

    &__header {

        .card-info {
    
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            column-gap: 10px;
    
            & > div {
                display: flex;
                flex-direction: column;
                flex: 1;
                row-gap: 5px;
            }
        }
    }

    &__content {
        
        .header {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 1.2rem;
        }
    }
}