<div class="container">
  <div class="container__header">
    <app-base-header [title]="'Base de conhecimento'" [icon]="'feed'">
    </app-base-header>
    <mat-card class="mt-10 card-info">
      <mat-icon>info_outline</mat-icon>
      <div>
        <span>
          Esta base de conhecimento é mantida por Felipe Wesley Basso.
        </span>
        <span>
          As publicações foram construídas ao longo do processo de aprendizado das ferramentas.
        </span>
        <span>
          O intuito desta seção é ajudar outros estudantes com os tópicos aqui apresentados.
        </span>
      </div>
    </mat-card>
  </div>
  <div class="container__content mt-20">
    <div class="header mb-10">
      <mat-icon class="mr-10">label_important</mat-icon>
      <span>
        Categorias de publicações
      </span>
    </div>
    <mat-divider></mat-divider>
    <div class="grid-categorias mt-10">
      <app-grid-categorias [categorias]="(categorias$ | async)"></app-grid-categorias>
    </div>
  </div>
</div>