
.container {

    .card-info {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;

        & > div {
            display: flex;
            flex-direction: column;
            flex: 1;
            row-gap: 5px;
        }
    }
}